<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <link rel="stylesheet" href="{% static 'css/dracula.css'  %}">
    <link rel="stylesheet" href="{% static 'css/estyle.css' %}">
    <title>Manieri</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'image/logo.png' %}" alt="" width="30" height="30" class="d-inline-block align-text-top"> anieri
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Scripts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Funções</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Em breve...</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>









    <main class="Background">

        <div class="quadro-sem-borda">

            <h1>João Victor Manieri</h1>
            <br>
            <hr class="hr0">

            <p align="justify">
                Ola, me chamo João, tenho 23 anos de idade e sou o autor deste site :)
            </p>
        </div>

        <div class="quadro">


            <div>
                <h3>
                    Um pouco sobre mim e mim mesmo.
                    <hr class="hr3">
                </h3>
            </div>

            <div>
                <font face="Calibri Light">

                    <p align="justify">
                        Até meus 14 anos morei com meus pais na zona rural da cidade de São Carlos - SP, lá foi onde cresci vivendo em meio a todas as criações de Deus. Tudo relacionado a natureza me despertava a curiosidade. Como as plantas cresciam, como o João de Barro sabia
                        exatamente o que deveria fazer e como deveria fazer. Eu passei muito tempo sozinho, mas isso não foi necesariamente uma coisa ruim, hoje acredito que esses momentos que estive comigo mesmo desenvolveeram em mim uma criatividade
                        aguçada; não digo isso para me vangloriar de alguma forma, mas para mostrar que em todas as situações é possivel tirar algo bom.
                        <br> Depois, mais velho, em contato com o mundo da tecnologia, uma pulga sempre me coçava a orelha, como é que é possivel, que sinais eletricos se transformem em imagens na tela do meu conputador? Como é que é possivel que exista
                        um vide-game que eu controlo por um controle e as açoes do personagem são coerentes aos meus movimentos das maos?
                        <br> As tecnologias sempre me intrigaram, por isso, quando passei a morar na zona urbana, e instigado pelo meu pai, comecei a estudar como essas coisas poderiam acontecer. Com 16 anos havia concluido um curso de aprendizagem em
                        eletricidade. Mas ainda não era o suficiente, eu precisava de mais. Logo, aos meus 18 anos, dei inicio a um curso de engenharia da computação. Aprendi muitas cposas legais. Mas eu ainda não estava satisfeito. Assim comecei a estudar
                        por conta como as eram feitas.
                        <br> Hoje sinto que ainda estou muito longe de onde pretendo chegar, mas tenho a certeza que ainda vou aprender muitas coisa novas. Atualmente estou me dedicando a crias coias que possam ajudar pessoas cuirosas como eu. Se você
                        sente essa curiosidade, você sabe o que eu to falando, e este site é para você, então por favor, desfrute de tudo que estiver dentro destas paginas, por que elas foram feiras para você.
                    </p>
                    <br> <b>Desde muito novo, sinto muita curiosidade sobre as coisas. </b>.
                    <br>

                </font> <br />

            </div>

        </div>


        <div class="quadro-sem-borda">

            <h1>Formação e experiencias</h1>
            <br>
            <hr class="hr0">

        </div>

        <div class="quadro">


            <div>
                <h3>
                    Engenharia da computação
                    <hr class="hr3">
                </h3>
            </div>

            <div>
                <font face="Calibri Light">

                    <p>
                        A minha principal formação! Cursei engenharia da computação em uma universiade particular na minha cidade. Não consegui uma vaga nas universiades publicas. Mas como de tudo que acontece é possivel tirar algo bom, hoje percebo que, por ter que trabalhar
                        para pagar minha faculade, adiquiri grande experiencia profcional e grande parte das coisas que aprendi foi graças a essas experiencias vivenciadas no ambiente corporativo.
                    </p>
                    <br> <b>Finalizado em dezembro de 2022</b>.
                    <br>

                </font> <br />

            </div>

        </div>

        <div class="quadro">


            <div>
                <h3>
                    Tecnico em informatica - dev full stack
                    <hr class="hr3">
                </h3>
            </div>

            <div>
                <font face="Calibri Light">

                    <p>
                        Com a chegada da pandemia, parei de fazer muitas coisas que gostava, como sair com meus amigos, jogar basquete e outras coisas para ocupar meu tempo, nesta ocasião surgiu um curso tecnico semi presencial, e achei interessante. Confersso que, trabalhar,
                        fazer faculdade e um curso tecnico quse acabaram comigo, porem hoje sou muito orgulhoso de ter mais essa conquista.
                    </p>
                    <br> <b>Finalizado em maio de 2022</b>.
                    <br>

                </font> <br />

            </div>

        </div>

        <div class="quadro">


            <div>
                <h3>
                    Analista de desenvolvimento
                    <hr class="hr3">
                </h3>
            </div>

            <div>
                <font face="Calibri Light">

                    <p>
                        Atualmente ocupo o cargo de analista de desenvolvimento na empresa em que trabalho, isso é algo que me orgulho muito, gosto de me sentir util, e trabalhar com desenvolvimento de softwares, me tras muita satisfação, ainda mais quando participo de projetos
                        que podem ajudar pessoas.
                    </p>
                    <br> <b>2 anos de estagio + 2 anos como Analista</b>.
                    <br>

                </font> <br />

            </div>

        </div>

        <div class="quadro">


            <div>
                <h3>
                    Apaixonado por python ❤🐍
                    <hr class="hr3">
                </h3>
            </div>

            <div>
                <font face="Calibri Light">

                    <p>
                        De todas as linguagens que conheci ate hoje, Python foi a que mais me cativou, justamente por ser simples, agil e extremamente poderosa. Claro, como todas as ferramentas possui sua limitação, no entanto, assim como ignoramos os defeitos de nossas namoradas,
                        eu costumo ignorar os defeitos do python (haha).
                    </p>
                    <br> <b>2 anos ou mais de experiencia com a linguagem</b>.
                    <br>

                </font> <br />

            </div>

        </div>

        <div class="quadro">


            <div>
                <h3>
                    Prata IV no Leag of Legends
                    <hr class="hr3">
                </h3>
            </div>

            <div>
                <font face="Calibri Light">

                    <p>
                        Bem, isso não é algo que eu exatamente me orgulho, mas se quer me connhecer, precisa saber que eu jogo de tank e sou prata IV :(
                    </p>
                    <br> <b>Prefiro nao dizer a quanto tempo jogo este jogo (haha)</b>.
                    <br>

                </font> <br />

            </div>

        </div>

    </main>








    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-muted">

        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>wheel foot:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>JOÃO MANIERI
                        </h6>
                        <p>
                            Designed and built with all the love in the world by Pinch Moon.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Content
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Funções
                                </a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Scripts</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Defines</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Helps</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">bootstrap</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Heroku</a>
                        </p>

                    </div>
                    <!-- Grid column -->



                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://meusite.com">meusite.com.br</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script src="{% static 'js/controler.js' %}"></script>
    <script>
        hljs.highlightAll()
    </script>
</body>

</html>